
.stat-container-title{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: -5%;
    padding: 0 10px;
    width: 110%;
    height: 65px;
    border-radius: 5px;
    background: linear-gradient(135deg,#f0501d 40%, black 40%);
}

.image-title{
    width: 50px;
    min-height: 60px;
    margin-right: 10px;
}

.pokeball-title{
    width: 40px;
    margin-right: auto;
    filter: invert(1);
}

.stats-left,
 .stats-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 15px;
}

.stats-left > p,
 .stats-right > p{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 1px solid #90979f38;
 }

.base-stats{
    display: flex;
    width: 100%;
    background: #fff;
}

.base-stats > div{
    text-align: center;
    width: 100%;
}

.stats{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 30px;
    background:#5a5a58;
    color: white;
}

.stats:nth-child(1),
.stats:nth-child(2){
    border-bottom: 1px solid white;
}