
    .container{
        position: relative;
        display: flex;
        justify-content: end;
        margin-right: 20px;
    }

    ::-webkit-scrollbar{
        width: 6px;
        background-color: #910305 !important;
    }

    ::-webkit-scrollbar-thumb{
        background-color: #F4523B !important;
    }

    .right{
        display: flex;
        align-items: center;
        width: 38%;
        height: 55px;
        margin: 10px 0;
        padding: 5px 20px;
        font-size: clamp(16px, 2vw, 26px);
        font-weight: 700;
    }

    .right img:nth-child(1) {
        filter: grayscale(100%) brightness(80%);
    }



    .right:hover{
        background: linear-gradient(135deg,#f0501d 40%,black 40%);
        border-radius: 50px;
        cursor: pointer;
        border: black 2px solid;
    }

    .right:hover > :nth-child(1) {
        filter: none;
    }

    .right:hover > :nth-child(3){
        color: white;
    }

    .right:hover > :nth-child(4){
        filter: invert(1);
    }

    .show{
        position:fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: clamp(400px, 3vw, 500px);
        height: 75vh;
        left: 10%;
        bottom: 10%;
        z-index: 2;
        gap: 10px;
    }


    .show > img{
        filter: drop-shadow(2px 4px 12x black);
        max-width: 300px;
    }

    #entry{
  -webkit-text-stroke: 1px black;
  color: white; 
    }


@media (min-width: 350px) and (max-width: 900px) and (orientation: landscape) {

    .right{
        font-size: clamp(12px, 2vw, 16px);
    }


    .show > img{
        filter: drop-shadow(2px 4px 12x black);
        width: clamp(150px, 3vw, 200px );
        margin-top: -20px;

    }

    .show{
        width: clamp(300px, 3vw, 350px);
        font-size: clamp(16px, 2vw, 26px);
    }

    #entry{
        color: white; 
          }
      

  }