.title{
    background: linear-gradient(115deg, #ddd3d8 57.7%, black 57.7%);
    width: 100%;
    height: 56px;
    top:32px;
    z-index: 10;
}



@media (min-width: 350px) and (max-width: 900px) and (orientation: landscape) {
    .title{
        top:0;
    }
}

.caught-seen{
    display: flex;
    align-items: center;
}

.caught, .seen{
    display: flex;
    align-items: center;
    background-color: #5a5a58;
    border-radius: 10px;
    margin-left: 20px;
    min-width: 80px;
    padding: 5px;
    color: white;
    font-size: clamp(14px, 2vw, 16px);
}
