*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

#bottombar{
  bottom: 0;
}

@media (min-width: 350px) and (max-width: 900px) and (orientation: portrait) {
  #topbar{
    display: none;
  }

  #bottombar{
    display: none;
  }
}

@media (min-width: 350px) and (max-width: 900px) and (orientation: landscape) {

  #bottombar{
    bottom: calc(100vh- 120vh);
  }
}

