*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

@media (min-width: 350px) and (max-width: 666px) and (orientation: landscape) {
  body {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden; 
  }

  .landscape-wrapper {
    width: 100vh;
    height: 100vw; 
    transform-origin: left top;
    transform: rotate(-90deg) translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto; 
}

}