*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

@media (min-width: 350px) and (max-width: 900px) and (orientation: portrait) {
  #topbar{
    display: none;
  }

  #bottombar{
    display: none;
  }
}